<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
<servlet>
	<servlet-name>Signup</servlet-name> <!-- servlet ka naam (custom) -->
	<servlet-class>com.student.servlet.SignServlet</servlet-class>
<!-- java class path -->
</servlet>

<!-- servlet ke url pattern define karte hain -->
<servlet-mapping>
	<servlet-name>SignServlet</servlet-name>
 <!-- upar wale nam se match hona chahiye -->
	<url-pattern>/signup</url-pattern> <!-- jab browser /signup hit kare to ye servlet chalega -->
</servlet-mapping>

</web-app>

